---
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import Page from "../layouts/Page.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}"))
  .filter((x) => !x.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
  );
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="narrow">
    <h1>About</h1>
    <div class="photo">
      <img alt="Seth Livingston" src="seth-mandy-top-golf-bw.jpg" width="100" height="100" />
    </div>
    <p class="text-center">
      Frontend coder @ <a href="https://moov.io">Moov Financial</a><br />
      Husband and dad in Texas, US<br /><br />
      I write about software development and monetary policy.<br />
    </p>
    <p class="text-center">
      <a href="https://github.com/sethlivingston">GitHub</a> ∙
      <a href="https://twitter.com/sethltx">Twitter</a> ∙
      <a href="https://www.linkedin.com/in/sethlivingston/">LinkedIn</a>
    </p>
  </section>

  <section class="posts narrow">
    <h1>Recent Posts</h1>
    {
      posts.slice(0, 10).map((post) => (
        <p>
          <a href={post.url}>{post.frontmatter.title}</a>
          <time datetime={post.frontmatter.pubDate}>
            {new Date(post.frontmatter.pubDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}
          </time>
        </p>
      ))
    }
    {
      posts.length > 10 && (
        <p>
          <a href="/blog">See more posts...</a>
        </p>
      )
    }
  </section>
</Page>

<style>
  .photo {
    text-align: center;
    margin-bottom: 1rem;
  }
  .photo img {
    border: 1px solid black;
    border-radius: 100%;
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
    height: 100px;
    width: 100px;
  }
</style>
